flask
requests
qrcode
python-barcode
python-docx
beautifulsoup4
urllib3
gunicorn
pillow
flask-cors
aspose-words-cloud==25.12.0
pycryptodome==3.20.0
PyJWT==2.10.1

opencv-python-headless
numpy
pyzbar
pytesseract

selenium==4.20.0

redis==5.0.7
rq==1.16.2
